complexity
empathy
complexity/*.pyc
empathy/*.pyc
tendims/*.pyc
sentiment/*.pyc
tendims/embeddings/fasttext/*.vw
tendims/embeddings/fasttext/*.vec
tendims/embeddings/fasttext/*.zip
tendims/embeddings/fasttext/*.gz
tendims/embeddings/fasttext/*.dat
tendims/embeddings/fasttext/*.txt
tendims/embeddings/fasttext/*.bin
tendims/embeddings/glove/*.vw
tendims/embeddings/glove/*.vec
tendims/embeddings/glove/*.zip
tendims/embeddings/glove/*.gz
tendims/embeddings/glove/*.dat
tendims/embeddings/glove/*.txt
tendims/embeddings/glove/*.bin
tendims/embeddings/word2vec/*.vw
tendims/embeddings/word2vec/*.vec
tendims/embeddings/word2vec/*.zip
tendims/embeddings/word2vec/*.gz
tendims/embeddings/word2vec/*.dat
tendims/embeddings/word2vec/*.txt
tendims/embeddings/word2vec/*.bin
tendims/embeddings/fasttext/*.vw
tendims/models/meeting_success/
tendims/models/meeting_success/*
*.csv
*.log
*.pyc